	div.select{
			text-align:center;
	      position :relative;
	top :100px;
		}
		div.textcolor{
			font-family: sans-serif;
			font-weight: bold;
			font-size :20px;
			color:#0000cc;
		}
		div.tcolor{
			font-family: sans-serif;
			font-style: italic;
			font-size: 15px;
			color:blue;
		}
	