	div.select{
			text-align:center;
	      position :relative;
	top :50px;
		}
		div.textcolor{
			font-family: sans-serif;
			font-weight: bold;
			font-size :20px;
			color:#0000cc;
			  position :relative;
	top :75px;
		}
		div.tcolor{
			font-family: sans-serif;
			font-style: italic;
			font-size: 15px;
			color:blue;
			  position :relative;
	top :85px;
		}
		div.formed{
			text-align:center;
			position: relative;
			color:#0000cc;
			top : 50px;
		}
		div.output{
			text-align:center;
			position : relative;
			top : 120px;
		}
		div.output1{
			text-align:center;
			position : relative;
			top : 130px;
		}
		button{
			text-align:center;
         position : relative;
			top : 70px;
		}
		div.output2{
			text-align:center;
		}
		div.check{
			text-align:center;
			 position : relative;
			top : 170px;
		}